@import "../../../style/variables";

.container {

  background: #107654;
  box-shadow: rgba(50, 50, 93, 0.25) 0 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  margin-bottom: 2em;
  display: block;

  .title {
    color: $color-green-vital;
    padding: $padding;

    h2 {
      font-size: x-large;
      line-height: normal;
    }
  }

  .description {
    padding: $padding;
    color: black;

    span {
      text-transform: none;
      color: $color-green-vital;
      font-family: "Unna", serif;
      font-weight: 400;
      text-indent: 1em;
      text-align: justify;
      font-size: large;
      margin-bottom: 1em;
      display: block;
    }
  }

  .links {
    padding: $padding;

    a {
      line-height: 1.2em;
      color: $color-green-vital !important;
      margin-right: 15px;
      text-wrap: nowrap;
      padding: 8px 0;

      &:hover {
        background-color: #ffffd2;
      }

    }
  }

  .tags {
    padding: $padding;


  }

}
