.avatar-container {
  background-size: cover;

  position: relative;
  //height: 50vh;
}

img {

}

@media only screen and (min-width: 500px) {
  .avatar-container {
    align-self: center;
    display: flex;
    max-width: 500px;
  }
}
