@import "../../../style/variables";

a {
  margin-right: 15px;
  text-wrap: nowrap;
  padding: 8px 13px;
  line-height: 1em;
  display: inline-block;
  -webkit-text-decoration: auto;
  text-decoration: auto;
  color: $color-green-vital;
  background-color: $color-green-dark;

  &:hover {
    background-color: #ffffd2 !important;
    cursor: $cursor-pointer 12 12, auto !important;
  }

}
