@import "variables";

.container {

  background: $color-vite;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  margin-bottom: 2em;
  display: block;

  .title {
    color: $color-green-vital;
    padding: $padding;
    text-align: center;

    h2 {
      font-size: x-large;
      line-height: normal;
    }
  }

  .description {
    padding: $padding;
    color: black;

    span {
      text-transform: none;
      letter-spacing: normal;
      color: #106757;
      line-height: 1em;
      font-family: math;
      text-indent: 1em;
      text-align: justify;
      font-size: medium;
      margin-bottom: 1em;
      display: block;
    }
  }

  .links {
    padding: $padding;

    a {
      line-height: 1.2em;
      //display: block;
      //width: 100%;
      color: $color-green-vital !important;
      margin-right: 15px;
      text-wrap: nowrap;
      padding: 8px 0px;

      &:hover {
        background-color: white;
      }

    }
  }

  .tags {
    padding: $padding;


  }

}
