<div class="container">
  <div class="title">
    <h2 *ngFor="let titlePart of data.title">{{ titlePart }}</h2>
  </div>
  <ng-container *ngIf="data.videoId">
    <div [innerHTML]="getEmbeddedVideoLink(data.videoId) | embedSanityzer"></div>
  </ng-container>
  <ng-container *ngIf="data.soundcloudMeta">
    <div [innerHTML]="getEmbeddedSoundcloudLink(data.soundcloudMeta) | embedSanityzer"></div>
  </ng-container>
  <div class="description">
    <span *ngFor="let d of data.description">{{ d }}</span>
  </div>
  <ng-container *ngIf="data.links">
    <div class="links">
      <a *ngFor="let link of data.links" [href]="link.link" target="_blank">{{ link.title }}</a>
    </div>
  </ng-container>
  <div class="tags">
    <app-tags [tags]="data.genres"></app-tags>
  </div>
</div>
