/* You can add global styles to this file, and also import other style files */
@use 'scss-reset/reset';
@import "style/variables";
@import "assets/webfontkit-20230805-153002/font-argentum";


body {
  font-family: "Raleway", sans-serif;
  color: $color-green-light;
  font-size: large;
  line-height: 1em;
  cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="24" viewBox="0 0 24 24"><circle cx="12" cy="12" r="12" fill="%23D2FF00" stroke="%23D2FF00" stroke-width="0.25"></circle></svg>') 12 12, auto;
}

h2 {
  color: white;
  font-weight: 600;
  font-family: 'argentum_sansblack';
}

::-webkit-scrollbar {
  display: none;
}

span > a {
  color: #d2ff00;
  &:hover {
    cursor: $cursor-pointer 12 12, auto !important;
  }
}

button {
  transition: opacity 0.33s cubic-bezier(0.34, 1.56, 0.64, 1) 0s;
  background-color: $color-green-dark;
  color: $color-green-light;

  &:hover {
    cursor: $cursor-pointer 12 12, auto !important;
    filter: brightness(1.1);
  }
}

.container li {
  &:hover {
    color: #f9f944;
    cursor: $cursor-pointer 12 12, auto !important;
  }
}

.color-cursor-pointer {fill: #d2ff00;}

.html5-video-player > * {
  &:hover {
    cursor: $cursor-pointer 12 12, auto !important;
  }
}
