<div class="container intro">
  <div class="bg" [@backgroundRemove]="!isHideGroup ? '*' : 'void'"></div>
  <app-live-text @show2 [@hide2]="!isHideGroup ? '*' : 'void'"
                 style=" z-index: inherit;" (isTypingFinished)="showButton()"
                 [totalText]="introText"></app-live-text>

  <ng-container *ngIf="isShowButton">
    <button class="btn-intro" @show3 [@hide1]="!isHideGroup ? '*' : 'void'"
            (click)="navigationToShowcasePage($event)">Enjoy!
    </button>
    <button class="btn-intro" @show3 [@hide1]="!isHideGroup ? '*' : 'void'"
            (click)="watchShowreel($event)"
    >Watch showreel

    </button>
  </ng-container>

  <app-social></app-social>

</div>

<div class="showreel" *ngIf="isShowreel">
  <button class="btn-intro btn-popup" (click)="closeShowreel()">Close Showreel</button>
  <iframe width="100%" height="100%" src="https://www.youtube.com/embed/bVti21Ii-qY" frameborder="0" allowfullscreen></iframe>
</div>
