<div class="social">
  <a href="https://www.instagram.com/dimon.may/" target="_blank">
    <img width="48" height="48" src="https://img.icons8.com/color/48/instagram-new--v1.png" alt="instagram-new--v1"/>
  </a>
  <a href="https://www.linkedin.com/in/dimonmay/" target="_blank">
    <img width="48" height="48" src="https://img.icons8.com/color/48/linkedin.png" alt="linkedin"/>
  </a>
  <a href="mailto:soundmusic.niko@gmail.com" target="_blank">
    <img width="100" height="100" src="https://img.icons8.com/bubbles/100/new-post.png" alt="new-post"/>
  </a>
</div>
