<div class="social">
  <a class="filter-sunny" href="https://www.instagram.com/dimon.may/" target="_blank">
    <img src="assets/icons/instagram-icon.png" alt="instagram-social-icon">
  </a>
  <a class="filter-sunny" href="https://www.linkedin.com/in/dimonmay/" target="_blank">
    <img src="assets/icons/linkedin-icon.jpg" alt="linkedin-social-icon">
  </a>
  <a class="filter-sunny" href="mailto:soundmusic.niko@gmail.com" target="_blank">
    <img src="assets/icons/email-icon.jpg" alt="email-icon">
  </a>
</div>
